<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.UserMapper">
    <insert id="addUser" >
        insert into userkey values(default,#{uname},#{pwd},#{vip})
    </insert>
    <insert id="addqUser">
        insert into qkey values(default ,#{qname},#{qpwd},#{vip})
    </insert>
    <insert id="addqUserZp">
        insert into qzp values(default ,#{zmoney},#{zzy},#{zname},#{zlx},#{zlocation},#{ztext},#{zwj})
    </insert>
    <insert id="addUserQZ">
        insert  into userqz values(default ,#{qzphone},#{qzzy},#{qzlb},#{qzlocation},#{qzwj})
    </insert>


    <select id="queryQZMapper" resultType="com.example.demo2.pojo.qUserZP">
         select * from qzp where zzy like concat('%',#{zzy},'%')  or  zlx like  concat('%',#{zlx},'%') or zlocation like concat('%',#{zlocation},'%')
    </select>
    <select id="queryZP" resultType="com.example.demo2.pojo.UserQZ">
          select  * from userqz where qzzy like concat('%',#{qzzy},'%')  or  qzlb like  concat('%',#{qzlb},'%') or qzlocation like concat('%',#{qzlocation},'%')
    </select>
    <select id="queryUser" resultType="com.example.demo2.pojo.User">
        select * from userkey where uname=#{uname} and pwd=#{pwd}
    </select>
    <select id="queryQUser" resultType="com.example.demo2.pojo.qUser">
        select * from qkey where qname=#{qname} and qpwd=#{qpwd}
    </select>
    <select id="querydoRegisterUserKey" resultType="com.example.demo2.pojo.User">
        select * from userkey where uname=#{uname} and vip=#{vip}
    </select>
    <select id="querydoRegisterqKey" resultType="com.example.demo2.pojo.qUser">
        select * from qkey where  qname=#{qname}  and vip=#{vip}
    </select>
</mapper>